

  <h1 class="center"> Liste des étudiants</h1>
 
  <div class="container">
      <div class="row">
       
        
          <div *ngFor="let student of studentList" class="col m4 s6"> 
              <div class="card horizontal" studentBorderCard="red">
                  <div class="card-image">
                      <img class="tiny" [src]="student.picture">
                  </div>
                  <div class="card-stacked">
                      <div class="card-content">
                        <p> {{student.name}} </p>
                        <p><span> {{student.joinDate|date:'dd/MM/YYYY'}} </span> </p>
                      </div>
                    </div>
              </div>
          </div>
      </div>
  </div>
 
   
